.info-holder {
  margin-top: 5em;
  margin-bottom: 5em;
}
.semantic-color {
  color: $semantic-theme-color;
}
.comment {
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.5em;
  padding: 1.5em;
  margin: 1em;
  box-shadow: 0.3em 0.3em 5px #000;
}
.row:nth-child(1) {
  font-weight: bold;
  margin-bottom: 2px;
  color: $semantic-theme-color;
}
.row:nth-child(2) {
  color: $accent-font-color;
}

.margin-bt {
  margin-top: 2em;
  margin-bottom: 2em;
}
