.search-holder {
  margin-top: 5em;
  margin-bottom: 5em;
}
table tbody tr td a {
  text-decoration: none;
  color: $main-font-color;
}
table tbody tr td a:hover {
  text-decoration: none;
  color: $semantic-theme-color;
}
