$main-font-color: #fff;
$secondary-font-color: #111;
$accent-font-color: #888;

$main-theme-color: #111;
$secondary-theme-color: #2f2d2f;
$accent-theme-color: #fff;
//$semantic-theme-color: #22a7f0;
$semantic-theme-color: #197bff;
//$semantic-theme-color: #c92800;

$trans: rgba(0, 0, 0, 0);
