$main-font-color: #fff;
$secondary-font-color: #111;
$accent-font-color: #888;

$main-theme-color: #111;
$secondary-theme-color: #2f2d2f;
$accent-theme-color: #fff;
$semantic-theme-color: #197bff;
$trans: rgba(0, 0, 0, 0);

/*
.btn-primary {
  background: rgb(0, 11, 181);
  background: linear-gradient(
    0deg,
    rgba(0, 11, 181, 1) 0%,
    rgba(0, 77, 221, 1) 100%
  );
}
.btn-primary:hover {
  background: rgb(0, 42, 181);
  background: linear-gradient(
    0deg,
    rgba(0, 42, 181, 1) 0%,
    rgba(0, 106, 221, 1) 100%
  );
}
*/
