@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
$CK-main-font: "Cabin", sans-serif;
$CK-secondary-font: "Kanit", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$RR-main-font: "Raleway", sans-serif;
$RR-secondary-font: "Roboto", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
$OP-main-font: "Oswald", sans-serif;
$OP-secondary-font: "PT Mono", monospace;

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
$LC-main-font: "Lato", sans-serif;
$LC-secondary-font: "Crimson Text", serif;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$BM-main-font: "Bebas Neue", cursive;
$BM-secondary-font: "Montserrat", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
$CL-main-font: "Cinzel", serif;
$CL-secondary-font: "Lora", serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
$OY-main-font: "Open Sans", sans-serif;
$OY-secondary-font: "Yellowtail", cursive;
