::-webkit-scrollbar {
  display: none;
}
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  color: $main-font-color;
}
body {
  background-color: $main-theme-color;
}

.bg-image {
  background-image: url(../Images/1920x1080.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
