/*
.btn-primary {
  background: rgb(0, 11, 181);
  background: linear-gradient(
    0deg,
    rgba(0, 11, 181, 1) 0%,
    rgba(0, 77, 221, 1) 100%
  );
}
.btn-primary:hover {
  background: rgb(0, 42, 181);
  background: linear-gradient(
    0deg,
    rgba(0, 42, 181, 1) 0%,
    rgba(0, 106, 221, 1) 100%
  );
}
*/
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
::-webkit-scrollbar {
  display: none;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  color: #fff;
  font-family: "Cabin", sans-serif;
}

body {
  background-color: #111;
}

.bg-image {
  background-image: url(../Images/1920x1080.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.reg-holder,
.map-holder {
  overflow: hidden;
}

.map {
  -webkit-filter: grayscale(100%) invert(92%) contrast(83%);
          filter: grayscale(100%) invert(92%) contrast(83%);
}

.reg-holder {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  text-align: center;
}

.reg-holder .text-holder {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.reg-holder .form-holder {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.reg-holder .text-holder h1 {
  margin-top: 4em;
  font-size: 4rem;
  font-family: "Cabin", sans-serif;
}

.reg-holder .form-holder h2 {
  font-size: 2.5rem;
  font-family: "Cabin", sans-serif;
}

.reg-holder .form-holder p {
  margin-bottom: 1.2em;
}

.reg-holder .form-holder a {
  color: #888;
  font-size: 1.2rem;
}

.reg-holder .form-holder form {
  margin-top: 1em;
}

.reg-holder .form-holder form .input-text {
  width: 15em;
  margin-bottom: 1em;
  background-color: #111;
  border: none;
  border-bottom: 1px solid grey;
}

.reg-holder .form-holder form .input-text:focus {
  outline: none;
}

.reg-holder .form-holder form .input-button {
  width: 7em;
  height: 2em;
  border-radius: 1em;
  margin-top: 0.5em;
  font-size: 1.2rem;
  background-color: #fff;
  color: #111;
  border: none;
}

.reg-holder .form-holder form .input-button:hover {
  background-color: #2f2d2f;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.notAllowedUser {
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-color: #111;
}

.welcome-holder {
  margin-top: 5em;
  margin-bottom: 5em;
}

.welcome-holder h2 a {
  color: #197bff;
  text-decoration: underline;
}

.welcome-holder h2 a:hover {
  color: #57bcf2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-holder {
  margin-top: 5em;
  margin-bottom: 5em;
}

.news {
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.5em;
  padding: 1em;
  margin: 1em;
  -webkit-box-shadow: 0.3em 0.3em 5px #000;
          box-shadow: 0.3em 0.3em 5px #000;
}

/*.search-holder {
  margin-top: 5em;
  margin-bottom: 5em;
}*/
table tbody tr td a {
  text-decoration: none;
  color: #fff;
}

table tbody tr td a:hover {
  text-decoration: none;
  color: #197bff;
}

.books a {
  text-decoration: none;
}

#cim {
  margin-top: 0.5em;
}

.eachB {
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.75em;
  margin: 1em;
  padding: 1em;
}

.eachB img {
  width: 65%;
}

/*
.btn-holder {
  margin-top: 6em;
}*/
.info-holder {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.semantic-color {
  color: #197bff;
}

.comment {
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.5em;
  padding: 1.5em;
  margin: 1em;
  -webkit-box-shadow: 0.3em 0.3em 5px #000;
          box-shadow: 0.3em 0.3em 5px #000;
}

.sor:nth-child(1) {
  font-weight: bold;
  margin-bottom: 2px;
  color: #197bff;
}

.sor:nth-child(2) {
  color: #888;
}

.margin-bt {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.margin-1 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#hirek,
#hozzaszolasok,
#foglalasok,
#jelszo {
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.5em;
  padding: 1.5em;
  margin: 1em;
  -webkit-box-shadow: 0.3em 0.3em 5px #000;
          box-shadow: 0.3em 0.3em 5px #000;
}

.news {
  overflow: visible;
  position: relative;
}

#pen,
#bin {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1em;
  text-align: center;
  padding-top: 0.5em;
  top: -1.25em;
}

#pen {
  right: 2.8em;
  background: #02b500;
  background: -webkit-gradient(linear, left top, left bottom, from(#02b500), to(#025500));
  background: linear-gradient(180deg, #02b500 0%, #025500 100%);
}

#bin {
  background: #b50000;
  background: -webkit-gradient(linear, left top, left bottom, from(#b50000), to(#550000));
  background: linear-gradient(180deg, #b50000 0%, #550000 100%);
  right: 0;
}

.tittle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2px;
  color: #197bff;
}

.text {
  margin-bottom: 2em;
}

.date {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  color: #888;
}

#newbtn {
  background: #000bb5;
  background: -webkit-gradient(linear, left bottom, left top, from(#000bb5), to(#00ddd5));
  background: linear-gradient(0deg, #000bb5 0%, #00ddd5 100%);
  text-align: center;
  height: 4em;
  width: 4em;
  margin-top: 2em;
  border-radius: 2em;
  border: 0px;
}

nav {
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: "Cabin", sans-serif;
  height: 5em;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: clamp(22px, 3vw, 32px);
}

#back {
  border: 0px;
}
