@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
::-webkit-scrollbar {
  display: none;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  color: #fff;
}

body {
  background-color: #111;
}

.bg-image {
  background-image: url(../Images/1920x1080.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.reg-holder,
.map-holder {
  overflow: hidden;
}

.map {
  -webkit-filter: grayscale(100%) invert(92%) contrast(83%);
          filter: grayscale(100%) invert(92%) contrast(83%);
}

.reg-holder {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  text-align: center;
}

.reg-holder .text-holder {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.reg-holder .form-holder {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.reg-holder .text-holder h1 {
  margin-top: 4em;
  font-size: 4rem;
  font-family: "Cabin", sans-serif;
}

.reg-holder .form-holder h2 {
  font-size: 2.5rem;
  font-family: "Cabin", sans-serif;
}

.reg-holder .form-holder p {
  margin-bottom: 1.2em;
  font-family: "Kanit", sans-serif;
}

.reg-holder .form-holder a {
  color: #888;
  font-size: 1.2rem;
}

.reg-holder .form-holder form {
  margin-top: 1em;
}

.reg-holder .form-holder form .input-text {
  width: 15em;
  margin-bottom: 1em;
  background-color: #111;
  border: none;
  border-bottom: 1px solid grey;
}

.reg-holder .form-holder form .input-text:focus {
  outline: none;
}

.reg-holder .form-holder form .input-button {
  width: 7em;
  height: 2em;
  border-radius: 1em;
  margin-top: 0.5em;
  font-size: 1.2rem;
  background-color: #fff;
  color: #111;
  border: none;
}

.reg-holder .form-holder form .input-button:hover {
  background-color: #2f2d2f;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.welcome-holder {
  margin-top: 5em;
}

.welcome-holder h2 a {
  color: #197bff;
  text-decoration: none;
}

.welcome-holder h2 a:hover {
  color: #57bcf2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-holder {
  margin-top: 5em;
  margin-bottom: 5em;
}

.news {
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.5em;
  padding: 1em;
  margin: 1em;
  -webkit-box-shadow: 0.3em 0.3em 5px #000;
          box-shadow: 0.3em 0.3em 5px #000;
}

.item:nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2px;
  color: #197bff;
}

.item:nth-child(3) {
  color: #888;
}

.search-holder {
  margin-top: 5em;
  margin-bottom: 5em;
}

table tbody tr td a {
  text-decoration: none;
  color: #fff;
}

table tbody tr td a:hover {
  text-decoration: none;
  color: #197bff;
}

.info-holder {
  margin-top: 5em;
  margin-bottom: 5em;
}

.semantic-color {
  color: #197bff;
}

.comment {
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.5em;
  padding: 1.5em;
  margin: 1em;
  -webkit-box-shadow: 0.3em 0.3em 5px #000;
          box-shadow: 0.3em 0.3em 5px #000;
}

.row:nth-child(1) {
  font-weight: bold;
  margin-bottom: 2px;
  color: #197bff;
}

.row:nth-child(2) {
  color: #888;
}

.margin-bt {
  margin-top: 2em;
  margin-bottom: 2em;
}
